.row
  .col.s12
    %label Delegate Country
    %select.browser-default#country
      - countries.each do |country|
        %option{:value => country.id}
          = country.country

    .card.blue.lighten-1
      .card-content.black-text
        %span.card-title Points
        .spacer-1
        .row
          .col.s3
            .input-field
              %input.validate#poi{:type => "number"}
                %label{} POI
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-poi Add POI
          .col.s3
            .input-field
              %input.validate#ror{:type => "number"}
                %label{} ROR
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-ror Add ROR
          .col.s3
            .input-field
              %input.validate#statement{:type => "number"}
                %label{} Statement
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-statement Add Statement
          .col.s3
            .input-field
              %input.validate#mod-speech{:type => "number"}
                %label{} Moderated Speech
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-mod-speech Add Moderated Speech
        .row
          .col.s3
            .input-field
              %input.validate#mod-topic{:type => "number"}
                %label{} Moderated Topic
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-mod-topic Add Moderated Topic
          .col.s3
            .input-field
              %input.validate#reso-speech{:type => "number"}
                %label{} Resolution Speech
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-reso-speech Add Resolution Speech
          .col.s3
            .input-field
              %input.validate#amends{:type => "number"}
                %label{} Amendment
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-amends Add Amendment
          .col.s3
            .input-field
              %input.validate#amends-speech{:type => "number"}
                %label{} Amend Speech
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-amends-speech Add Amendment Speech
        .row
          .col.s2
            .input-field
              %input.validate#unmod{:type => "number"}
                %label{} Unmod
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-unmod Update Unmod
          .col.s2
            .input-field
              %input.validate#activism{:type => "number"}
                %label{} Activism
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-activism Update Activism
          .col.s2
            .input-field
              %input.validate#lobby{:type => "number"}
                %label{} Lobby
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-lobby Update Lobby
          .col.s2
            .input-field
              %input.validate#behaviour{:type => "number"}
                %label{} Behaviour
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-behaviour Update Behaviour
          .col.s2
            .input-field
              %input.validate#diplomacy{:type => "number"}
                %label{} Diplomacy
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-diplomacy Update Diplomacy
          .col.s2
            .input-field
              %input.validate#fps{:type => "number"}
                %label{} FPS
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-fps Update FPS
        .row
          .col.s2.offset-s4
            .input-field
              %input.validate#fp-violation{:type => "number"}
                %label{} FP Violation
            %a.waves-effect.waves-light.btn.indigo.darken-1.btn-fp-violation Add FP Violation
          .col.s2
            .input-field
              %select.browser-default#sponsor
                %option{:disabled => "", :selected => "", :value => ""} Sponsor
                %option{:value => "true"} Yes
                %option{:value => "false"} No



:javascript
  $(document).ready(function() {

    $('.btn-poi').on('click', function() {
      $.ajax({
         url: "#{add_poi_points_path}",
         data: {
             mark: $('#poi').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-ror').on('click', function() {
      $.ajax({
         url: "#{add_ror_points_path}",
         data: {
             mark: $('#ror').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-statement').on('click', function() {
      $.ajax({
         url: "#{add_statement_points_path}",
         data: {
             mark: $('#statement').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-mod-speech').on('click', function() {
      $.ajax({
         url: "#{add_mod_speech_points_path}",
         data: {
             mark: $('#mod-speech').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-mod-topic').on('click', function() {
      $.ajax({
         url: "#{add_mod_topic_points_path}",
         data: {
             mark: $('#mod-topic').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-reso-speech').on('click', function() {
      $.ajax({
         url: "#{add_reso_speech_points_path}",
         data: {
             mark: $('#reso-speech').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-amends').on('click', function() {
      $.ajax({
         url: "#{add_amends_points_path}",
         data: {
             mark: $('#amends').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-amends-speech').on('click', function() {
      $.ajax({
         url: "#{add_amends_speech_points_path}",
         data: {
             mark: $('#amends-speech').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-unmod').on('click', function() {
      $.ajax({
         url: "#{add_unmod_points_path}",
         data: {
             mark: $('#unmod').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-activism').on('click', function() {
      $.ajax({
         url: "#{add_activism_points_path}",
         data: {
             mark: $('#activism').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-lobby').on('click', function() {
      $.ajax({
         url: "#{add_lobby_points_path}",
         data: {
             mark: $('#lobby').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-behaviour').on('click', function() {
      $.ajax({
         url: "#{add_behaviour_points_path}",
         data: {
             mark: $('#behaviour').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-diplomacy').on('click', function() {
      $.ajax({
         url: "#{add_diplomacy_points_path}",
         data: {
             mark: $('#diplomacy').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-fps').on('click', function() {
      $.ajax({
         url: "#{add_fps_points_path}",
         data: {
             mark: $('#fps').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('.btn-fp-violation').on('click', function() {
      $.ajax({
         url: "#{add_fp_violation_points_path}",
         data: {
             mark: $('#fp-violation').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
    $('#sponsor').on('change', function() {
      $.ajax({
         url: "#{add_sponsor_points_path}",
         data: {
             mark: $('#sponsor').val(),
             delegate_id: $('#country').val()
         },
         dataType: "script"
      });
    });
  });
