.spacer{
  margin-top: 25px;
}
.spacer-1{
  margin-top: 10px;
}

label{
  color: #fff !important;
}

input[type="checkbox"]:checked {
  + label {
    &::before {
      border-right: #0d47a1 solid 2px !important;
      border-bottom: #0d47a1 solid 2px !important;
    }
  }
}
