!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MunPoint
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.blue.accent-2.darken-3
      .nav-wrapper
        %a.brand-logo.center{ href: root_path } SLMUN Point System
        %ul#nav-mobile.right.hide-on-med-and-down
          %li{class: active_navigation('points', params[:controller])}
            %a{href: points_path} Points System


    .container
      .spacer
      = yield
      = debug(params) if Rails.env.development?
